
<!DOCTYPE html>
<html>
<head>
  
<title>NST</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<style>
  body {
    background-image: url('static/wall0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>
</head>
<body>
<!--<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Content Image:</strong><br>
    <input id="file-picker" type="file" name="content_file" accept="image/*" multiple><br><br>
    <div id="msg"></div>
    <strong>Style Image:</strong><br>
    <input id="file-picker" type="file" name="style_file" accept="image/*" multiple><br><br>
    <div id="msg"></div>
    <input type="submit" value="Upload!" id="upload-button">

</form>
-->
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" style="color:white">
    <img src="static/AI.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Neural Style Transfer
  </a>
    <form class="form-inline" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
      <strong style="color:white">Content Image-</strong>
      <input class="form-control mr-sm-2" type="file" name="content_file" accept="image*" placeholder="file" aria-label="file" >
      <strong style="color:white">Style Image-</strong>
      <input class="form-control mr-sm-2" type="file" name="style_file" accept="image*" placeholder="file" aria-label="file">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Upload!">Upload</button>
    </form>
  </nav>

</body>

</html>